In [2]:
import pandas as pd

## Exercise

Change the index of the previous DataFrame to the value in the customer column!
Hint: To modify the index of an existing DataFrame df you may use df.set_index().

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/purchases.csv')
df

  customer  ordered  delivered
0     June        3          0
1   Robert        2          2
2     Lily        7          4
3    David        3          2

In [ ]:
df.set_index("customer", inplace = True)
df

## Exercises

1. From the `movies_df`, select all movies that were released between 2005 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue. Hint: You may use the method `quantile()`.

In [24]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/vhaus63/ids_data/refs/heads/main/IMDB-Movie-Data.csv', index_col= "Title")

movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) 
    & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

2. Im `movies_df` besitzt die Spalte "metascore" noch fehlende Werte. FÃ¼llen Sie die fehlenden Werte durch den Mittelwert des "metascores" des jeweiligen Genres auf.

In [ ]:
movies_df["metascore"].isna().sum() #Check how many entries are NA

In [ ]:
def fill_na_with_group_mean(group):
    mean_value = group['metascore'].mean() # Calculate the mean of the 'Value' column for the current group
    group['metascore'] = group['metascore'].fillna(mean_value) # Fill NaN values
    return group  # Return the modified group with NaNs filled


movies_df = movies_df.groupby('genre').apply(fill_na_with_group_mean)

Note that in some genres there is no movie with a metascore. For these genres, the imputation does not work:

In [ ]:
movies_df["metascore"].isna().sum()